language: python
python: 3.6
branches:
    only:
        - master
        - /^\d\.\d+$/

matrix:
    include:
        - python: 2.7.13
          env: TOXENV=py27
        - python: 3.5
          env: TOXENV=py35
        - python: 3.6
          env: TOXENV=py36

addons:
    apt:
        packages:
            - libfreetype6-dev
            - liblcms2-dev
            - libffi-dev
    chrome: stable

git:
    lfs_skip_smudge: true

before_install:
    - echo -e "machine github.com\n login 30cba336a070ec8129202e78b5b1cf9b9d73237d" >> ~/.netrc
    - git lfs pull
    - apt-get install -y chromium-chromedriver

install:
    - pip install -U pip wheel tox

script: tox

cache:
    directories:
        - $HOME/.cache/pip
